/** @format */

.header {
  text-align: center;
  color: #009688;
  margin-top: 6rem;
}

audio {
  width: 95%;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
